.categories{
    padding: 6rem 2rem 1rem 2rem;
    color: var(--text-color-primary);
    position: fixed;
    z-index: 1;
    width: 100%;
}

.gap-large{
    gap: 2.5rem;
}

.button.btn-category{
    padding: 0;
    top: 6rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    color: var(--text-color-primary);
    height: 24px;
    width: 24px;
}

.btn-left{
    left: 0rem;
}
.btn-right{
    right: 2rem;
}

.context-category{
    cursor: pointer;
}
.context{
    cursor: pointer;
    border-bottom: 2px solid black;
}